* {
 margin: 0;
 padding: 0;
}
body {
  background-color: #f0f0f0;
}
header {
  height: 80px;
  display: flex;
  justify-content: space-between;
}
.inner {
  display: flex;
  align-items: center;
  padding: 30px;
}
.inner h1 {
  font-size: 25px;
  font-weight: lighter;
  letter-spacing: 15px;
  margin-right: 60px;
}
.header-list li{
  list-style: none;
  float: left;
  margin-right: 30px;
  }
.header-list a{
  text-decoration: none;
  color: #000;
}
.contct {
  width: 200px;
  height: 80px;
  color: #FFF;
  font-size: 12px;
  text-align: center;
  line-height: 80px;
  text-decoration: none;
  background-color: #000;
  display: inline-block;
}
.mainvisual {
  margin-bottom: 120px;
}
.mainvisual img {
  width: 100%;
  height: calc(100vh - 80px);
  object-fit: cover;
}
.news-title {
  padding: 0px 0px 50px;
}
#NEWS {
  display:flex;
  flex-flow: column;
  font-weight: lighter;
  line-height: 1;
  padding: 0px 120px;
}
.news-title .en {
  font-size: 36px;
  letter-spacing: 10px;
  margin-bottom: 10px;
}
.news-title .jp {
  font-size: 14px;
  margin-bottom: 30px;
}
.news-title h2::after {
 content: "";
 width: 40px;
 height: 1px;
 background-color: #000;
 display: block;
}
.news-list {
  display: flex;
  padding: 50px 120px;
}
.news-list li {
  list-style: none;
}
.news-list span {
  background-color: #000;
  color: #FFF;
  font-size: 12px;
  padding: 2px 5px 2px 5px;
}
.news-list .list1 {
  padding: 0px 100px 0px 0px;
}
.news-list .list2 {
  border-right: solid 1px;
  border-left: solid 1px;
  padding: 0px 100px;
}
.news-list .list3 {
  padding: 0px 0px 0px 100px;
}
.about-img {
  width: 53%;
  position: absolute;
}
.about-img img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
 #ABOUT {
  display: flex;
  padding: 0px 0px 100px;
}
.about-list {
  padding-top: 160px;
  padding-left: 760px;
}
.about-title {
  display: flex;
  flex-flow: column;
  font-weight: lighter;
  margin-bottom: 50px;
}
.about-title .en {
  font-size: 36px;
  letter-spacing: 10px;
  margin-bottom: 10px;
}
.about-title .jp {
  font-size: 14px;
  margin-bottom: 30px;
}
 #ABOUT h2::after {
 content: "";
 width: 40px;
 height: 1px;
 background-color: #000;
 display: block;
}
#BUSINESS {
  padding: 0px 0px 100px;
}
.business-title {
  display: flex;
  flex-flow: column;
  font-weight: lighter;
  margin-left: 100px;
  margin-bottom: 50px;
}
.business-title .en {
  font-size: 36px;
  letter-spacing: 10px;
}
.business-title .jp {
  font-size: 14px;
  margin-bottom: 30px;
}
#BUSINESS h2::after {
  content: "";
  width: 40px;
  height: 1px;
  background-color: #000;
  display: block;
}
.business-title-img {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 0 18%;
}
.business-title-img .left-img {
  margin-top: 80px;
}
.business-title-img .left-img p {
  margin-bottom: 15px;
}
.business-title-img .left-img2 {
  margin-top: 50px;
}
.business-title-img .right-img p {
  margin-bottom: 15px;
}
.business-title-img .right-img2 {
  margin-top: 50px;
}
#COMPANY {
  position: relative;
  height: 750px;
  display: flex;
  align-items: center;
  margin-left: 100px;
}
.company-title {
  font-weight: lighter;
}
.company-title .en {
  font-size: 36px;
  letter-spacing: 10px;
}
.company-title .jp {
  font-size: 14px;
  margin-bottom: 30px;
}
#COMPANY h2::after {
  content: "";
  width: 40px;
  height: 1px;
  background-color: #000;
  display: block;
}
.copmoany-text {
  width: 55%;
  background-color: #FFF;
  padding: 100px 8% 100px 6%;
  position: absolute;
  top: 0;
  left: 0;
}
.company-list {
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;

}
.company-list dt {
  width: 20%;
  margin-top: 10px;
}
.company-list dt:first-of-type {
  margin-top: 0;
}
.company-list dd {
  width: 80%;
  margin-top: 10px;
}
.company-list dd:first-of-type {
  margin-top: 0;
}
.company-img {
  width: 53%;
  position: absolute;
  top: 50px;
  right: 0px;
}
.company-img img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.company-list .a1 {
  width: 230px;
  margin-left: 125px;
  margin-top: 10px;
}
